DB_HOST=37.27.232.161
DB_PORT=3306
DB_USER=jeevanka_user
DB_PASSWORD=MyAnimePass@2026!
DB_NAME=jeevanka_anime
DROPEMBED_API_KEY=dpe_live_c9bbcfeff68964f97bf935152ffe040b
SHARD_INDEX=0
TOTAL_SHARDS=10
